<!--NoLink-->
<form name="healthLogForm" data-ng-controller="healthLogEditCtrl">
    <div id="noTimer" pss-feedback-widget data-error="getErrorMessages()"></div>
    <div class="fluid-form">
        <div>
            <div>
                <label>Log Date</label>
                <input type="text" data-ng-model="logRecord.log_date" class="psDateWidget">
            </div>
            <div>
                <label>Log Time</label>
                <input type="text" data-ng-model="logRecord.log_time" class="timeEntry" size="8">
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Concussion' || logRecord.log_type =='Eval'">
            <div>
                <label>Injury Date</label>
                <input type="text" data-ng-model="logRecord.injury_date" class="psDateWidget">
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Daily'">
            <div>
                <label>Complaint <span class="req"><em>*</em></span> </label>
                <select data-ng-options="val as val for (key,val) in $root.appData.complaintList"
                    data-ng-model="logRecord.complaint"
                    data-ng-change="handleFieldChange('complaint'); checkReqFields()">
                    <option value="">Select an Complaint</option>
                </select>
                <input data-ng-show="displayComplaintOther || logRecord.complaint== 'Other'" type="text"
                    data-ng-model="logRecord.complaint_other"><span class="req"
                    data-ng-if="!logRecord.complaint"><em>Required</em></span>
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Athletic'">
            <div>
                <label>Sport</label>
                <select
                    data-ng-model="logRecord.sport">~[x:codesetoptions;codetype=Sports;includeblank;value=~([u_cdol_health_log]sport)]</select>
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Athletic' || logRecord.log_type =='Eval'">
            <div>
                <label>Injury Site</label>
                <input type="text" data-ng-model="logRecord.injury_site">
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Eval'">
            <div>
                <label>Injury Type</label>
                <input type="text" data-ng-model="logRecord.injury_type">
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Daily' || logRecord.log_type =='Athletic'">
            <div>
                <label>Treatment <em><span class="req">*</span></em></label>
                <textarea id="log-treatment" spellcheck="true" wrap="absolute" rows="5" cols="75" maxlength="250"
                    data-ng-model="logRecord.treatment" data-ng-change="checkReqFields()"></textarea>
                <span class="req" data-ng-if="!logRecord.treatment"><em> Required</em></span>
                <!-- Remaining Characters Text -->
                <span data-ng-if="logRecord.treatment" class="remaining-characters">
                    {{ 250 - logRecord.treatment.length }} characters remaining
                </span>
            </div>
        </div>
        <div data-ng-show="logRecord.log_type =='Daily'">
            <div>
                <label>Destination</label>
                <select data-ng-options="val as val for (key,val) in $root.appData.destinationList"
                    data-ng-model="logRecord.destination" data-ng-change="handleFieldChange('destination')">
                    <option value="">Select a Destination</option>
                </select>
                <input data-ng-show="displayDestinationOther || logRecord.destination== 'Other'" type="text"
                    data-ng-model="logRecord.destination_other">
                <!-- <input type="text" data-ng-model="logRecord.destination"> -->
            </div>
            <div>
                <label>Time Left</label>
                <input type="text" class="timeEntry" data-ng-model="logRecord.left_time">
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Concussion'">
            <div>
                <label>Total Symptoms:</label>
                <input type="text" inputmode="numeric" data-ng-model="logRecord.total_systems_score" min="0" max="21"
                    style="width: 3ch; text-align: right;"> /21 Total Symptoms
            </div>
            <div>
                <label>Symptoms Score:</label>
                <input type="text" inputmode="numeric" data-ng-model="logRecord.systems_score" min="0" max="126"
                    style="width: 4ch; text-align: right;"> /126 Symptoms Score
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Conversation'">
            <div>
                <label>Conversation Type <span class="req"><em>*</em></span> </label>
                <select data-ng-options="val as val for (key,val) in $root.appData.conversationTypeList"
                    data-ng-model="logRecord.conversation_type"
                    data-ng-change="handleFieldChange('conversation_type'); checkReqFields()">
                    <option value="">Select a Conversation Type</option>
                </select>
                <input data-ng-show="displayConversationTypeOther || logRecord.conversation_type== 'Other'" type="text"
                    data-ng-model="logRecord.conversation_type_other"><span class="req"
                    data-ng-if="!logRecord.conversation_type"><em>Required</em></span>
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Conversation'">
            <div>
                <label>Name of Person Conversation was With<span class="req"><em>*</em></span></label>
                <input type="text" data-ng-model="logRecord.contact" data-ng-model="logRecord.contact"
                    data-ng-change="checkReqFields()"> <span class="req" data-ng-if="!logRecord.contact"><em>
                        Required</em></span>
            </div>
        </div>
        <div>
            <div>
                <label><span data-ng-if="logRecord.log_type !='Conversation'">Treatment Provider</span><span
                        data-ng-if="logRecord.log_type =='Conversation'">Staff Member</span> <span
                        class="req"><em>*</em></span></label>
                <select id="users_dcid"
                    data-ng-options="staff.dcid as (staff.first_name + ' ' + staff.last_name) for staff in $root.appData.staffList"
                    data-ng-model="logRecord.users_dcid" data-ng-change="checkReqFields()"
                    data-ng-init="logRecord.users_dcid = curUser">
                </select><span class="req"
                    data-ng-if="logRecord.hasOwnProperty('users_dcid') && !logRecord.users_dcid"><em>
                        Required</em></span>
            </div>
        </div>
        <div data-ng-if="logRecord.log_type =='Daily'">
            <h2 id="vitalsigns-h2" tabindex="0" data-ng-click="toggleSection($event)" class="toggle collapsed">
                ~[text:psx.html.admin_students_health.form_officevisit.vital_signs]
            </h2>
            <div id="vitalsigns-div" class="fluid-form hide">
                <div class="middle-div">
                    <div class="healthDrawer-3-col">
                        <label id="th_bloodPressure"
                            for="bloodPressureSystolic">~[text:psx.html.admin_students_health.form_officevisit.blood_pressure]</label>
                        <input type="text" id="bloodPressureSystolic" style="width:45px;"
                            data-ng-model="logRecord.vitals.bloodPressureSystolic" /> /
                        <input type="text" id="bloodPressureDiastolic" style="width:45px;"
                            aria-labelledby="th_bloodPressure"
                            data-ng-model="logRecord.vitals.bloodPressureDiastolic" />
                    </div>
                    <div class="healthDrawer-3-col">
                        <label id="th_temperature"
                            for="temperature">~[text:psx.html.admin_students_health.form_officevisit.temperature]</label>
                        <input id="temperature" type="text" style="max-width: 100px;"
                            data-ng-model="logRecord.vitals.temperature" />
                        °F
                    </div>
                    <div class="healthDrawer-3-col">
                        <label id="th_bloodSugar"
                            for="bloodSugar">~[text:psx.html.admin_students_health.form_officevisit.blood_sugar]</label>
                        <input type="text" id="bloodSugar" data-ng-model="logRecord.vitals.bloodSugar" />
                    </div>
                    <div class="healthDrawer-3-col">
                        <label id="th_respiratoryRate"
                            for="respiratoryRate">~[text:psx.html.admin_students_health.form_officevisit.respiratory_rate]</label>
                        <input id="respiratoryRate" type="text" data-ng-model="logRecord.vitals.respiratoryRate" />
                    </div>
                    <div class="healthDrawer-3-col">
                        <label id="th_pulseRate"
                            for="pulseRate">~[text:psx.html.admin_students_health.form_officevisit.pulse_rate]</label>
                        <input id="pulseRate" type="text" data-ng-model="logRecord.vitals.pulseRate" />
                    </div>
                    <div class="healthDrawer-3-col">
                        <label id="th_pulseOximetry"
                            for="pulseOximetry">~[text:psx.html.admin_students_health.form_officevisit.pulse_oximetry]</label>
                        <input id="pulseOximetry" type="text" data-ng-model="logRecord.vitals.pulseOximetry"
                            data-pss-validation-field="HEALTHOFFICEVISIT.PulseOximetry" />
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <label for="log-notes">Notes:</label>
                <table class="grid">
                    <tbody>
                        <tr data-ng-if="logRecord.log_type =='Concussion'">
                            <td style="vertical-align:top" for="log-notes-memory"><strong>Memory</strong>:</td>
                            <td>
                                <textarea id="log-notes-memory" spellcheck="true" wrap="absolute" rows="5" cols="60"
                                    data-ng-model="logRecord.notes_memory"></textarea>
                            </td>
                        </tr>
                        <tr data-ng-if="logRecord.log_type =='Concussion'">
                            <td style="vertical-align:top" for="log-notes-bess"><strong>BESS</strong>:</td>
                            <td>
                                <textarea id="log-notes-bess" spellcheck="true" wrap="absolute" rows="5" cols="60"
                                    data-ng-model="logRecord.notes_bess"></textarea>
                            </td>
                        </tr>
                        <tr data-ng-if="logRecord.log_type =='Concussion'">
                            <td style="vertical-align:top" for="log-notes-voms"><strong>VOMS</strong>:</td>
                            <td>
                                <textarea spellcheck="true" wrap="absolute" rows="5" cols="60"
                                    data-ng-model="logRecord.notes_voms"></textarea>
                            </td>
                        </tr>
                        <tr data-ng-if="logRecord.log_type =='Eval'">
                            <td style="vertical-align:top" for="log-notes-s"><strong>S</strong>:</td>
                            <td>
                                <textarea id="log-notes-s" spellcheck="true" wrap="absolute" rows="5" cols="60"
                                    data-ng-model="logRecord.notes_s"></textarea>
                            </td>
                        </tr>
                        <tr data-ng-if="logRecord.log_type =='Eval'">
                            <td style="vertical-align:top" for="log-notes-o"><strong>O</strong>:</td>
                            <td>
                                <textarea id="log-notes-o" spellcheck="true" wrap="absolute" rows="5" cols="60"
                                    data-ng-model="logRecord.notes_o"></textarea>
                            </td>
                        </tr>
                        <tr data-ng-if="logRecord.log_type =='Eval'">
                            <td style="vertical-align:top" for="log-notes-a"><strong>A</strong>:</td>
                            <td>
                                <textarea id="log-notes-a" spellcheck="true" wrap="absolute" rows="5" cols="60"
                                    data-ng-model="logRecord.notes_a"></textarea>
                            </td>
                        </tr>
                        <tr data-ng-if="logRecord.log_type =='Eval'">
                            <td style="vertical-align:top" for="log-notes-p"><strong>P</strong>:</td>
                            <td>
                                <textarea id="log-notes-p" spellcheck="true" wrap="absolute" rows="5" cols="60"
                                    data-ng-model="logRecord.notes_p"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td data-ng-if="logRecord.log_type =='Concussion'" for="log-notes"
                                style="vertical-align:top"><strong>Other</strong>: </span></td>
                            <td data-ng-if="logRecord.log_type !='Eval'">
                                <textarea id="log-notes" spellcheck="true" wrap="absolute" rows="5" cols="60"
                                    data-ng-model="logRecord.notes"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>