<div class="button-row">
    <button id="add-btn" type="button" pss-dialog-drawer drawer-title="Add {{appData.fullContext}}" data-data="{
                    studentsdcid: '~(rn)',
                    id: null
                }" template-url="views/log_drawer.html">
        Add {{appData.fullContext}}</button>
</div>
<div class="container-fluid">
    <div id="daily-log-grid" data-pss-grid-widget data-data="healthLogList" data-filtered-data="filteredhealthLogList"
        data-client-side-pagination="false" data-filter-constraint="no-filters">
        <table class="grid">
            <thead>
                <tr>
                    <th style="width: 135px;" data-pss-sort-fields="log_date, log_time" data-primary-sort="descending">
                        Log Date/Time</th>
                    <th data-ng-if="appData.curContext =='Concussion' || appData.curContext =='Eval'"
                        data-pss-sort-fields="injury_date">Date of Injury</th>
                    <th data-ng-if="appData.curContext =='Daily'" data-pss-sort-fields="complaint|text">Complaint</th>
                    <th data-ng-if="appData.curContext =='Athletic'" data-pss-sort-fields="sport|text">Sport</th>
                    <th data-ng-if="appData.curContext =='Athletic' || appData.curContext =='Eval'"
                        data-pss-sort-fields="injury_site|text">Injury Site</th>
                    <th data-ng-if="appData.curContext =='Eval'" data-pss-sort-fields="injury_type|text">Injury Type
                    </th>
                    <th data-ng-if="appData.curContext =='Daily' || appData.curContext =='Athletic'"
                        data-pss-sort-fields="treatment|text">Treatment</th>
                    <th data-ng-if="appData.curContext =='Daily'" data-pss-sort-fields="destination|number">Destination
                    </th>
                    <th data-ng-if="appData.curContext =='Daily'" data-pss-sort-fields="time_left|number">Time Left</th>
                    <th data-ng-if="appData.curContext =='Concussion'"
                        data-pss-sort-fields="total_systems_score|number">Total
                        Symptoms</th>
                    <th data-ng-if="appData.curContext =='Concussion'" data-pss-sort-fields="systems_score|number">
                        System Score
                    </th>
                    <th data-ng-if="appData.curContext =='Conversation'" data-pss-sort-fields="conversation_type|text">
                        Conversation Type
                    </th>
                    <th data-ng-if="appData.curContext =='Conversation'" data-pss-sort-fields="contact|text">
                        Conversation With
                    </th>
                    <th data-pss-sort-fields="user_dcid|text"><span
                            data-ng-if="appData.curContext !='Conversation'">Treatment Provider</span><span
                            data-ng-if="appData.curContext =='Conversation'">Staff Member</span></th>
                    <th>Notes</th>
                    <th style="width: 65px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-show="!healthLogList.length">
                    <td colspan="100%">No {{appData.fullContext}}'s</span>
                    </td>
                </tr>
                <tr data-ng-repeat="healthLog in filteredhealthLogList" data-id="{{healthLog.id}}">
                    <td class="center">{{healthLog.log_date | date : 'MM/dd/yyyy'}} {{healthLog.log_time |
                        convSecondsToTime12 }}</td>
                    <td class="center" data-ng-if="appData.curContext =='Concussion' || appData.curContext =='Eval'">
                        {{healthLog.injury_date | date :
                        'MM/dd/yyyy'}}</td>
                    <td data-ng-if="appData.curContext =='Daily'">{{healthLog.complaint}}</td>
                    <td data-ng-if="appData.curContext =='Athletic'">{{healthLog.sport}}</td>
                    <td data-ng-if="appData.curContext =='Athletic' || appData.curContext =='Eval'">
                        {{healthLog.injury_site}}</td>
                    <td data-ng-if="appData.curContext =='Eval'">{{healthLog.injury_type}}</td>
                    <td data-ng-if="appData.curContext =='Daily' || appData.curContext =='Athletic'">
                        {{healthLog.treatment}}</td>
                    <td data-ng-if="appData.curContext =='Daily'">{{healthLog.destination}}</td>
                    <td class="center" data-ng-if="appData.curContext =='Daily'">{{healthLog.left_time |
                        convSecondsToTime12 }}</td>
                    <td class="center" data-ng-if="appData.curContext =='Concussion'">
                        {{healthLog.total_systems_score}}/21 Total
                        Symptoms</td>
                    <td class="center" data-ng-if="appData.curContext =='Concussion'">{{healthLog.systems_score}}/126
                        Symptoms Score
                    </td>
                    <td class="center" data-ng-if="appData.curContext =='Conversation'">{{healthLog.conversation_type}}
                    </td>
                    <td class="center" data-ng-if="appData.curContext =='Conversation'">{{healthLog.contact}}</td>
                    <td class="center">{{healthLog.first_name}} {{healthLog.last_name}}</td>
                    <td>
                        <span
                            data-ng-if="appData.curContext =='Daily'|| appData.curContext =='Athletic'|| appData.curContext =='Conversation'">{{healthLog.notes}}</span>
                        <span data-ng-if="appData.curContext =='Concussion'">
                            Memory: {{healthLog.notes_memory}} <br>
                            BESS: {{healthLog.notes_bess}} <br>
                            VOMS: {{healthLog.notes_voms}} <br>
                            Other: {{healthLog.notes}} <br>
                        </span>
                        <span data-ng-if="appData.curContext =='Eval'">
                            S: {{healthLog.notes_s}} <br>
                            O: {{healthLog.notes_o}} <br>
                            A: {{healthLog.notes_a}} <br>
                            P: {{healthLog.notes_p}} <br>
                        </span>
                    </td>
                    <td class="actions center">
                        <button type="button" id="mod-btn-{{healthLog.id}}" pss-dialog-drawer edit-button-icon="true"
                            drawer-title="Edit {{appData.fullContext}}" template-url="views/log_drawer.html"
                            data-data="healthLog"></button>
                        <button type="button" id="delBtn" data-ng-click="delConfirm(healthLog.id)"><em
                                class="ui-icon-white ui-icon ui-icon-minusthick"></em></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>