<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Medication Inventory</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/cdol.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <style>
            .med-top-of-table {
                display: flex;
                justify-content: space-between;
                /* pushes left/right */
                align-items: center;
                /* vertical alignment */
                margin: 0 10px 0 !important;
            }

            #medication-grid {
                margin: 0 !important;
            }
        </style>
    </head>

    <body>
        ~[wc:admin_header_frame_css]
        ~[wc:admin_navigation_frame_css]
        ~[wc:title_student_begin_css]~(first_name) ~(last_name)'s Medication Inventory~[wc:title_student_end_css]
        <div data-require-path="./medication.js" data-module-name="medicationModule"
            ng-controller="medicationController as vm" data-bootstrap-local="true" ng-cur-student-dcid="~(rn)"
            ng-cur-student-name="~(studentname)" ng-cur-user-dcid="~[x:users_dcid]" ng-cur-school-id="~(curschoolid)"
            ng-cur-year-id="~(curyearid)" ng-cur-date="~[date]" ng-cur-time="~[time]"
            ng-server-name="~[x:WEB_GetServerInfo;name=HostName]" ng-cur-user-security-roles="~[x:usersroles]"
            ng-context="inventory" ng-cloak>
            <div id="medication-grid" data-pss-grid-widget data-data="vm[vm.listKey]"
                data-filtered-data="vm[vm.filteredListKey]" data-client-side-pagination="false"
                data-filter-constraint="no-filters">
                <div class="med-top-of-table">
                    <span>
                        <!--<strong>DOB:</strong>   ~(dob) <strong>Age:</strong>   ~(age)-->
                    </span>
                    <button id="add-btn" type="button" pss-dialog-drawer drawer-title="Add {{vm.appData.contextTitle}}"
                        data-data="{
                    studentsdcid: '~(rn)',
                    id: null
                }" template-url="editInventory.html">Add {{vm.appData.contextTitle}}</button>
                </div>
                <table class="grid">
                    <thead>
                        <tr>
                            <th data-pss-sort-fields="medication_name">Medication</th>
                            <th data-pss-sort-fields="route">Route</th>
                            <th data-pss-sort-fields="dosage">Dosage</th>
                            <th data-pss-sort-fields="frequency">Frequency</th>
                            <th>Inventory</th>
                            <!-- <th style="width: 65px;">Actions</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!vm[vm.listKey].length">
                            <td colspan="100%">~(first_name) ~(last_name) has no medications in inventory</span>
                            </td>
                        </tr>
                        <tr ng-repeat="medication in vm[vm.filteredListKey]" data-id="{{medication.id}}">
                            <td class="center">{{medication.medication_name}}</td>
                            <td class="center">{{medication.route}}</td>
                            <td class="center">{{medication.dosage}}</td>
                            <td class="center">{{medication.frequency}}</td>
                            <td class="center"></td>
                            <!-- <td class="actions center">
                                <button type="button" id="mod-btn-{{healthLog.id}}" pss-dialog-drawer
                                    edit-button-icon="true" drawer-title="Edit {{appData.fullContext}}"
                                    template-url="views/log_drawer.html" data-data="healthLog"></button>
                                <button type="button" id="delBtn" ng-click="delConfirm(healthLog.id)"><em
                                        class="ui-icon-white ui-icon ui-icon-minusthick"></em></button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-round" ng-if=" $root.appData.districtUser && $root.appData.isTestServer">
                <strong>appData:</strong>
                <pre>{{$root.appData | json}}</pre>
            </div>
        </div>
        ~[wc:admin_footer_frame_css]
    </body>

</html>